#mapPage,#map {
    padding: 0;
    width: 100%;
    height: 100%;
}

.ui-header .ui-title {margin: 0 20%}

#instructions, #venueTitle {
    text-align:center;
}

.holder .ui-slider-switch {
    width:12em;
}

.icon {
    width: 20px;
    height: 20px;
}