.map-section{
    width: 100%;
    height: 100%;
}

#map {
    margin-top: 50px;
    margin-top: 50px;
    width: 100%;
    height: 90.5%;
    position: absolute;
}

/* #mapPage{
    width: 100%;
    height: 100%;
} */


#instructions, #venueTitle {
    text-align:center;
}

/* .holder .ui-slider-switch {
    width:12em;
} */

/* .icon {
    width: 20px;
    height: 20px;
} */

/* .ui-header .ui-title {
    margin: 0 20%
} */

.header{
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.footer{
  padding: 5px;
  text-align: center;
  font-size: 12px;
}
